<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Timeline</title>
</head>
<body>

    <div class="container">
        <h1>Blog Application</h1>
        <hr />
        <ul>
            <li><a th:href="@{/posts/new}">Yeni gönderi oluştur</a></li>
        </ul>
        <div class="posts-container">
            <div class="post" th:each="post : ${posts}">

                <h2><a th:href="@{'/posts/' + ${post.id}}"
                       th:text="${post.title}"></a></h2>

                <h5 th:text="'Yayınlanma tarihi ' + ${post.createdAt}">Created At</h5>

                <div th:if="${post.updatedAt != null}" >
                    <h5 th:text="'Son düzenlenme zamanı ' + ${post.updatedAt}" >Updated Date</h5>
                </div>
                <h3 th:text="'Tarafından paylaşıldı ' + ${post.account.username}">Created At</h3>
                <p th:text="${post.body}">body text</p>
                <br />
                <hr />
            </div>
        </div>

        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{login}">Login</a></li>
            <li><a th:href="@{register}">Register</a></li>
        </ul>

        <div sec:authorize="isAuthenticated()">
            <form action="#"
                    th:action="@{/logout}"
                    method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>